@CHARSET "UTF-8";
a{
	text-decoration:none;
}
.origin_head_content{
	margin: 0px auto; width: auto;height:300px;border:2px solid white
}
.head_left{
	float:left;margin-left:0px;margin-top:0px;width:30%;height:300px
}
.head_right{
	float:right;margin-right:0px;margin-top:0px;width:70%;height:280px;
	background-color:#cfb570 ;
}
label{
	display:block;
	margin-top:100px;
	font-family: "宋体";
	color: #ff8000;
	font-size:80px;
	text-align:center
}
.font_house{
	diaplay:block;
	margin-left:400px;
	font-family: "宋体";
	color: #ff8000;
	font-size:20px
}
.font_forgetpassword{
	diaplay:block;
	font-family: "宋体";
	color: #ff0000;
	font-size:30px
}
.origin_body{
	margin: 0px auto
}
.forgetpassword{
	margin: 0px auto;text-align:center;border:2px solid #c0c0c0;height:60%;width:50%;
}
.origin_bodyleft{
	float:left;margin-left:100px;width:30%;border:2px solid #c0c0c0;height:50%;text-align:center
}
.origin_bodyleft_top{
	margin: 0px auto;border:2px solid #c0c0c0;height:50%;text-align:center
}
.origin_bodyleft_bottom{
	margin: 0px auto;border:2px solid #c0c0c0;height:50%;text-align:center
}
.origin_bodyright{
	float:right;margin:0px auto ;width:60%
}
.housesearch{
	margin-top:px;font-family: "宋体";font-size:20px
}
.showhouse{
	margin:0px auto;border:4px solid #c0c0c0
}
.houseimg{
	margin-left:400px;margin-top:0px;height:150px
}
.houseinfo{
	margin-left:400px;margin-top:0px;font-family: "宋体";font-size:20px;height:100px
}
